body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1e1e1e;
    color: #f0f0f0;
    display: flex;
    flex-direction: column;
    user-select: auto;
}

html, body {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
}

.burger-menu {
    font-size: 30px;
    cursor: pointer;
    position: fixed;
    top: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    z-index: 100;
    background-color: #7289da;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.burger-menu:hover {
    background-color: #4e5d94;
    transform: scale(1.1);
}

.burger-icon .line {
    stroke: #fff;
    stroke-width: 5;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.burger-menu.open .line1 {
    transform: rotate(45deg) translate(10px, -8px);
}

.burger-menu.open .line2 {
    opacity: 0;
}

.burger-menu.open .line3 {
    transform: rotate(-45deg) translate(-23px, -2px);
}

.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    z-index: 99;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.nav-bar.open {
    opacity: 1;
    visibility: visible;
}

.nav-bar a {
    padding: 15px 30px;
    text-decoration: none;
    font-size: 22px;
    color: #f0f0f0;
    display: block;
    transition: background-color 0.3s, padding-left 0.3s, box-shadow 0.3s;
    margin: 10px 0;
    border-radius: 8px;
    background: linear-gradient(135deg, #4e5d94, #7289da);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.nav-bar a:hover {
    background: linear-gradient(135deg, #7289da, #4e5d94);
}

@media screen and (max-width: 768px) {
    .burger-menu {
        display: flex;
    }
    .invite-button {
        position: absolute;
        top: 35px;
        right: 15px;
        z-index: 2;
        font-size: 10px;
        content: "Invite";
    }

    .discord-button {
        background: transparent;
        position: relative;
        padding: 5px 60px; /* Increased padding to make it wider */
        display: flex;
        align-items: center;
        font-size: 17px;
        font-weight: 600;
        text-decoration: none;
        cursor: pointer;
        border: 1px solid rgba(88, 101, 242, 1);
        border-radius: 25px;
        outline: none;
        overflow: hidden;
        color: rgba(88, 101, 242, 1);
        transition: color 0.3s 0.1s ease-out;
        text-align: center;
    }

    .code {
        position: relative;
        display: inline-block;
        background-color: #000000;
        border: #2c2f33;
        font-style: italic;
        color: #f0f0f0;
        padding: 5px 5px 5px 5px; /* Adjusted padding to accommodate the button */
        border-radius: 5px;
        margin-bottom: -10px;
        overflow-x: auto;
    }
    
    .copy-button {
        position: absolute;
        top: 30%;
        right: 0px;
        transform: translateY(-50%);
        background: none;
        border: none;
        color: #f0f0f0;
        cursor: pointer;
        font-size: 16px;
        opacity: 1;
        transition: opacity 0.3s ease;
    }
}

.invite-button {
    position: absolute;
    top: 35px;
    right: 15px;
    z-index: 2;
}

header {
    background-color: #2c2f33;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #7289da;
    position: relative;
}

.bot-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.bot-pfp {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
}

.invite-button a {
    background-color: #7289da;
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.invite-button a:hover {
    background-color: #4e5d94;
}

header h1 {
    margin: 0;
}

.bot-details {
    text-align: left;
}

main {
    padding: 20px;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#searchBar {
    width: 100%;
    max-width: 400px;
    padding: 10px 20px 10px 50px;
    border: 2px solid #7289da;
    border-radius: 20px;
    background-color: #2c2f33;
    color: #f0f0f0;
    outline: none;
    box-sizing: border-box;
}

.search-container lord-icon {
    margin-right: -48px;
    pointer-events: none;
    transform: scale(0.8); 
}

.command-list {
    max-width: 800px;
    margin: 0 auto;
    flex: 1;
}

.command {
    background-color: #2c2f33;
    border: 1px solid #7289da;
    border-radius: 8px;
    padding: 20px;
    padding-bottom: 10px;
    margin-bottom: 15px;
    opacity: 1;
}

.command h3 {
    margin-top: 0;
    color: #7289da;
}

footer {
    background-color: #2c2f33;
    color: white;
    text-align: center;
    padding: 20px 10px;
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);
    font-family: 'Arial', sans-serif;
}

footer a {
    color: #7289da;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1.2em;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #99aab5;
}

.social-icons {
    text-align:center;
    border-top: 1px solid #7289da;
    width: 100%;
    padding-top: 10px;
}

.social-icons a {
    margin: 0 15px;
    font-size: 1.5em;
    transition: transform 0.3s ease, color 0.3s ease;
}

.social-icons a:hover {
    transform: scale(1.2);
    color: #99aab5;
}

.footer-text {
    margin: 10px 0;
}

.intro, .updates, .connect-discord {
    background: linear-gradient(135deg, #2c2f33, #23272a);
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.intro h2, .updates h2, .connect-discord h2 {
    color: #7289da;
}

.update {
    background: linear-gradient(135deg, #4a4b4d, #6e777d);
    padding: 10px;
    margin-bottom: 10px;
    border-left: 4px solid #7289da;
}

.update .date{
    color: #7289da;
}

.bad-update {
    background: linear-gradient(135deg, #4a4b4d, #6e777d);
    padding: 10px;
    margin-bottom: 10px;
    border-left: 4px solid #d10c0c;
}

.bad-update .date{
    color: #7289da;
}

.discord-button {
    background: transparent;
    position: relative;
    padding: 5px 50px; /* Increased padding to make it wider */
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid rgba(88, 101, 242, 1);
    border-radius: 25px;
    outline: none;
    overflow: hidden;
    color: rgba(88, 101, 242, 1);
    transition: color 0.3s 0.1s ease-out;
    text-align: center;
}

.discord-button span {
    margin: 10px;
}

.discord-button::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    content: '';
    border-radius: 50%;
    display: block;
    width: 20em;
    height: 20em;
    left: -3em;
    text-align: center;
    transition: box-shadow 0.5s ease-out;
    z-index: -1;
}

.discord-button:hover {
    color: #fff;
    border: 1px solid rgba(88, 101, 242, 1);
}

.discord-button:hover::before {
    box-shadow: inset 0 0 0 10em rgba(88, 101, 242, 1);
}
.updates-container {
    max-height: 300px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #7289da #4a4b4d;
}

.updates-container::-webkit-scrollbar {
    width: 8px;
}

.updates-container::-webkit-scrollbar-track {
    background: #f4f4f4;
    border-radius: 10px;
}

.updates-container::-webkit-scrollbar-thumb {
    background-color: #7289da;
    border-radius: 10px;
    border: 2px solid #f4f4f4;
}

.commands-title {
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
}

.sort-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: center;
}

.sort-container label {
    font-size: 16px;
    margin-right: 10px;
}

#sortOptions {
    padding: 5px;
    border: 2px solid #7289da;
    border-radius: 5px;
    font-size: 16px;
    background-color: #7289da;
    color: #fff;
}

#sortOptions option {
    background-color: #1e1e1e;
    color: #fff;
}

.note {
    font-size: 14px;
    font-weight: italic;
    color: rgba(220, 50, 50, 0.406);
}

.new-label {
    display: inline-block;
    background-color: #ff5733;
    color: white;
    padding: 2px 8px;
    margin-left: 10px;
    font-size: 12px;
    border-radius: 5px;
}   

.update-label {
    display: inline-block;
    background-color: #52d95b;
    color: white;
    padding: 2px 8px;
    margin-left: 10px;
    font-size: 12px;
    border-radius: 5px;
}

.bug-label {
    display: inline-block;
    background-color: #7f42a3;
    color: white;
    padding: 2px 8px;
    margin-left: 10px;
    font-size: 12px;
    border-radius: 5px;
}

.code {
    position: relative;
    display: inline-block;
    background-color: #000000;
    border: #2c2f33;
    font-style: italic;
    color: #f0f0f0;
    padding: 5px 23px 5px 5px; /* Adjusted padding to accommodate the button */
    border-radius: 5px;
    margin-bottom: -10px;
    overflow-x: auto;
}

.copy-button {
    position: absolute;
    top: 30%;
    right: 0px;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: #f0f0f0;
    cursor: pointer;
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.code:hover .copy-button {
    opacity: 1;
}

#no-result, #no-result2 {
    border: solid 1px #7289da;
    border-style: dashed;
    max-width: 500px;
    margin: 0 auto;
    flex: 1;
    text-align: center;
    font-size: 20px;
    color: #7289da;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    animation: pulse 5s infinite;
    background-color: rgba(114, 137, 218, 0.1);
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.05);
        opacity: 0.8;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
